*{
  margin: 0px;
  padding: 0px;
}

body{
  color: white;
  min-height: 100vh;
}

main{
  display: grid;
  grid-template-columns: 2fr 7fr;
  min-height: 100vh;
}

video{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay{
  background-color: black;
  opacity: 0.7;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

/* ---------------------------main_sectionOne--------------------------------- */
.main_sectionOne{
  padding: 20px 20px 0 20px;
  display: grid;
  z-index: 2; 
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.main_sectionOne_form__input {
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.main_sectionOne_form__button{
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.main_sectionOne_form__button:hover {
  background-color: black;
  color: white;
}
/* ---------------------------main_sectionTwo--------------------------------- */
.main_sectionTwo{
  display: grid;
  z-index: 4;
}
.main_sectionTwo__img{
  width: 30px;
}

.main_sectionTwo__title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_sectionTwo_result{
  display: flex;
  justify-content: space-around;
  padding: 0 25px;
}

.main_sectionTwo_list{
  list-style: none;
}

.main_sectionTwo_list li{
  font-size: 20px;
}

/* ---------------------------animations--------------------------------- */
@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
.main_sectionTwo__img{
  -webkit-animation: 3s rotate linear infinite;
  animation: 3s rotate linear infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* ---------------------------responsive--------------------------------- */
@media(min-width:700px)and (max-width:1000px){
  main{
    grid-template-columns: 3fr 6fr;
  }
}
@media(min-width:200px)and (max-width:699px){
  .main_sectionTwo_result{
    display: initial;
    text-align: center;
  }
  main{
    grid-template-columns: 1fr;
  }
}